* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  scrollbar-color: #77b731 white;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 5rem 10rem;
}

.main-heading {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  color: #313131;
}